$gc-dark: #2c2c2c;
$gc-light: #f0f0e6;
$gc-yellow: #ffbf17;
$gc-red: #de0607;
$gc-black: #181818;
$white: #ffffff;

//Socials
$vk: #4a76a8;
$facebook: #3b5998;
$telegram: #0088cc;
$whatsapp: #25d366;

$primary: $gc-yellow;
$link: $gc-yellow;
$danger: $gc-red;
$dark: $gc-dark;
$black: $gc-black;
$light: $gc-light;
$title-color: $black;

//Sizes
$gap: 32px;
